ut02-ejercicios/02-dtd/ejercicio03/personas.dtd

<!ELEMENT personas (persona+)>

<!ELEMENT persona (nombre, apellidos, telefono, email, direccion)>
<!ATTLIST persona id ID #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!ELEMENT direccion (tipoVia, nombreVia, numero)>
<!ELEMENT tipoVia (#PCDATA)>
<!ELEMENT nombreVia (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
